head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/stylesheets/chatstyle.css")
        script(src="https://kit.fontawesome.com/8713148416.js" crossorigin="anonymous")
        script.
                (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                })(window,document,'script','dataLayer','GTM-NRKGV7C');
        title IntDesigns #{title}
        body
                nav
                        form(action="/pics" method="GET")
                            -const qInp = user.googleId ? JSON.stringify(user) : false
                            input(type="hidden" name="user" value=qInp)
                            button(class="picsnav" type="submit") Pics
                        form(action=`/chat/${user.ipAdd}` method="GET")
                            button(class="chatnav" type="submit") Chat
                block content
